<!-- src/app/restauracja/restauracja.component.html -->
<div>
    <h2>Restauracja List</h2>
    <ul>
      <li *ngFor="let restauracja of restauracje">
        {{ restauracja.adres }}
        <button (click)="startEdit(restauracja)">Edit</button>
        <button (click)="deleteRestauracja(restauracja.id!)">Delete</button>
      </li>
    </ul>
  
    <h2>Create Restauracja</h2>
    <input [(ngModel)]="newRestauracja.adres" placeholder="Adres">
    <button (click)="createRestauracja()">Create</button>
  
    <div *ngIf="editRestauracja">
      <h2>Edit Restauracja</h2>
      <input [(ngModel)]="editRestauracja.adres" placeholder="Adres">
      <button (click)="updateRestauracja()">Update</button>
      <button (click)="cancelEdit()">Cancel</button>
    </div>
  </div>
  