<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set Kafka related loggers to ERROR level -->
    <logger name="org.apache.kafka" level="ERROR"/>
    <logger name="kafka" level="ERROR"/>
    
    <!-- Set Flink related loggers to ERROR level -->
    <logger name="org.apache.flink" level="ERROR"/>
    <logger name="org.apache.zookeeper" level="ERROR"/>
    
    <!-- Set root logger to WARN -->
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
