<div class="home-container">
    <mat-toolbar color="primary">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon> menu </mat-icon>
          <span> Menu </span>
      </button>
      <span class="spacer"></span>
      <span>Smaczne.pl</span>
      <mat-menu #menu="matMenu">
        @for(item of menuItems; track item) {
        <button mat-menu-item [routerLink]="item.path">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.title }}</span>
        </button>
    }
      </mat-menu>
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
  